:root {
    --player-height: 130px;
    --player-btn-size: 40px;
}

#soundboard {
    display: grid;
    grid-template-columns: auto auto auto;
    height: calc(100vh - var(--nav-height) - var(--player-height));
    padding-left: 1px;
    padding-right: 1px;
}

.sb-btn {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    background-color: var(--def-button);
    color: var(--def-text);
    font-weight: 400;
    cursor: pointer;
    user-select: none;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    transition: all 100ms ease-in-out;
    border: 1px solid transparent;
}

.sb-btn:not(.dropping):hover {
    background-color: var(--def-button-hover);
    color: var(--def-text-hover);
}

.sb-btn.dropping {
    filter: brightness(150%);
}

.sb-btn-img {
    min-width: 35px;
    width: 35px;
    height: 35px;
    border-radius: 5px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin-left: 5px;
    margin-right: 8px;
}

.sb-btn span {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;
    max-width: 100%;
    margin-right: 5px;
    font-size: 15px;
    line-height: 15px;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

#player {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    height: var(--player-height);
    background-color: var(--dark-but-not-black);
    border-top: 1px solid var(--def-button);
    z-index: 10;
}

#thumbnail {
    width: 80px;
    height: 80px;
    margin: 0 10px;
    border-radius: 8px;
    background-image: url('../images/track.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    opacity: 0.5;
}

.btns-group {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    width: fit-content;
    height: fit-content;
}

.btn-player {
    width: var(--player-btn-size);
    height: var(--player-btn-size);
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 4px;
    border-radius: 8px;
    transition: background-color 100ms ease-in-out;
}

#leftBtnGroup {
    justify-self: flex-start;
    margin-right: auto;
}

#seekBarsContainer {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
}

#seekBarsContainer label {
    font-size: 90%;
    color: var(--def-text);
}

.range {
    width: 90%;
}

.form-range {
    position: relative;
}

#progressRange .thumb-value {
    font-size: 9px;
    font-weight: 300;
}

#player .form-label {
    margin-bottom: 0;
}

#trackName {
    font-size: 75%;
    text-align: center;
    color: var(--def-text);
    margin-bottom: 0;
    margin-top: 0;
}

#soundboardSettings {
    justify-self: flex-end;
    margin-left: auto;
}

#soundboardSettings label {
    font-size: 80%;
    width: 100%;
    margin-bottom: 0;
    text-align: center;
    color: var(--def-text);
}

.number-spinner input {
    max-width: 100px;
}

#audio {
    display: none;
}