:root {
    --blurple: #5865F2;
    --blurple-dark: #4954cc;
    --grayple: #99AAB5;
    --dark-but-not-black: #2C2F33;
    --not-quite-black: #23272A;

    --dark-blue: #0D47A1;
    --blue: #4285F4;
    --blue-hover: #3770CC;
    --blue-active: #3062B3;
    --indigo: #283593;
    --purple: #4527A0;
    --pink: #E91E63;
    --pure-red: #ff0000;
    --red: #ED4245;
    --red-hover: #DB2121;
    --red-active: #BF1D1D;
    --dark-red: #B71C1C;
    --orange: #FB8C00;
    --yellow: #FEE75C;
    --yellow-hover: #F5A700;
    --yellow-active: #F58F00;
    --light-yellow: #FFEB3B;
    --green: #0F9D58;
    --green-hover: #0E8C4F;
    --green-active: #0A663A;
    --teal: #009688;
    --cyan: #00ACC1;
    --white: #FFFFFF;
    --light: #F8F9FA;
    --light-gray: #BCBCBC;
    --gray: #757575;
    --gray-dark: #424242;
    --black: #000000;
    --primary-dark: #36393F;
    --primary-dark-light: #4d5059;
    --primary-dark-active: #303238;
    --navbar-dark: #202225;
    --navbar-dark-hover: #26292E;
    --def-button: #2F3136;
    --def-text: #ABABAB;
    --def-button-hover: #33363C;
    --def-text-hover: #BCBCBC;
    --def-button-clicked: #393C42;
    --context-menu: #18191C;
    --scrollbar-background: #2B2D31;
    --scrollbar-thumb: #1A1B1E;
    --scrollbar-thumb-hover: #1f2124;

    --primary: #007BFF;
    --secondary: #9E9E9E;
    --success: #28A745;
    --info: #17A2B8;
    --warning: #FFC107;
    --danger: #ED4245;
    --dark: #212121;

    --d-blue: #64B5F6;
    --d-indigo: #7986CB;
    --d-purple: #9575CD;
    --d-pink: #F06292;
    --d-red: #E57373;
    --d-orange: #FFB74D;
    --d-yellow: #FFD54F;
    --d-green: #81C784;
    --d-teal: #80CBC4;
    --d-cyan: #4DD0E1;

    --nav-height: 22px;
    --window-margins: 8px;
    --nav-margin: 10px;
}

/* Navbar */
.navbar {
    height: var(--nav-height);
    background-color: var(--navbar-dark) !important;
    -webkit-app-region: drag;
}

.navbar .container-fluid {
    padding-left: 0;
    padding-right: 0;
}

.navbar .navbar-nav {
    height: var(--nav-height);
}

.navbar .nav-text {
    font-size: calc(var(--nav-height) - 12px);
    line-height: calc(var(--nav-height) - 12px);
    font-weight: 400;
    color: var(--def-text);
    user-select: none;
    margin-left: 5px;
    padding-top: 2px;
    padding-left: 0;
    padding-right: 0;
}

.navbar .nav-text:hover {
    background-color: var(--navbar-dark) !important;
    padding-top: 3px;
}

#navbarSupportedContent span {
    font-size: calc(var(--nav-height) - 10px);
    line-height: calc(var(--nav-height) - 10px);
    font-weight: 500;
    color: var(--def-text);
    padding-left: 4px;
    user-select: none;
    -webkit-app-region: no-drag;
}

#navRightGroup {
    justify-self: flex-end;
    margin-left: auto;
}

.navbar .nav-item {
    height: var(--nav-height);
    padding-left: 5px;
    padding-right: 5px;
    user-select: none;
    -webkit-app-region: no-drag;
    display: flex;
    align-items: center;
    justify-content: center;
}

.navbar .nav-item i {
    color: var(--def-text);
    font-size: calc(var(--nav-height) - 10px);
    line-height: calc(var(--nav-height) - 10px);
}

.navbar .nav-item:hover i {
    color: var(--white);
}

.navbar .nav-item:hover {
    background-color: var(--navbar-dark-hover);
    height: calc(var(--nav-height) - 1px);
}

.navbar .nav-item:hover * {
    padding-top: 1px;
}

#navMenu {
    padding-left: 8px;
}

#navClose {
    padding-right: 8px;
}

#navClose:hover {
    background-color: var(--danger);
}

#mainContainer {
    margin-top: var(--nav-height);
    padding-left: 0;
    padding-right: 0;
}

/* End of Navbar */

/* Context Menu */
.context-menu {
    position: absolute;
    background-color: var(--context-menu);
    user-select: none;
    -webkit-user-select: none;
    border-radius: 4px;
    padding: 5px;
    min-width: 150px;
    z-index: 500;
}

.context-menu ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.context-menu li {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 5px 10px;
    cursor: pointer;
    color: var(--def-text);
    font-size: 80%;
    font-weight: 500;
    border-radius: 2px;
}

.context-menu li:hover {
    background-color: var(--blurple);
    color: var(--white);
}

.context-menu .spacer {
    cursor: default;
    border-top: 1px solid var(--primary-dark);
    padding: 0 10px;
    margin-top: 2px;
    margin-bottom: 2px;
}

.context-menu .spacer:hover {
    background-color: transparent;
}

.context-menu .disabled {
    cursor: default;
    color: var(--gray);
}

.context-menu .disabled:hover {
    background-color: transparent;
    color: var(--gray);
}

.context-menu .danger {
    font-weight: 500;
    color: var(--danger);
}

.context-menu .danger:hover {
    color: var(--white);
    background-color: var(--danger);
}

.context-menu .fa-chevron-right {
    justify-self: flex-end;
    margin-left: auto;
    font-size: 75%;
    font-weight: 600;
}

.submenu {
    display: none;
}

.submenu.active {
    display: block;
}

.spacer {
    border-top: 2px solid var(--def-button);
    margin-top: 5px;
    margin-bottom: 5px;
}

/* End of Context Menu */

/* Number Spinnger */
.number-input {
    background-color: transparent;
    border: none;
    width: 100%;
    text-align: center;
    color: var(--def-text);
    outline: none;
}

.number-input:disabled {
    /*TODO*/
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.number-spinner {
    position: relative;
    border: 2px solid var(--primary-dark);
    border-radius: 10px;
    transition: all 300ms ease-in-out;
}

.number-spinner:hover {
    border-color: var(--light);
}

.number-spinner:hover .number-input,
.number-spinner:hover .spinner-element i {
    color: var(--light);
}

.spinner-element {
    position: absolute;
    display: block;
    font-size: 90%;
    top: 3px;
    cursor: pointer;
}

.spinner-element i {
    color: var(--def-text);
}

.number-spinner .next {
    right: 0.4rem;
}

.number-spinner .prev {
    left: 0.4rem;
}

/* End of Number Spinner */

/* Start of Range */
.form-range::-webkit-slider-runnable-track {
    border-radius: 1em;
    height: 8px;
    background-color: #42484d;
}

.form-range:focus::-webkit-slider-thumb {
    background-color: var(--blurple);
}

.form-range::-webkit-slider-thumb {
    margin-top: -4px;
    scale: 1.15;
    background-color: var(--blurple);
}

.range-track {
    content: '';
    position: absolute;
    border-radius: 1em 0 0 1em;
    top: 8px;
    left: 0;
    width: 0;
    height: 8px;
    background-color: var(--blurple);
    pointer-events: none;
}

.range .thumb:after {
    background: var(--blurple);
}

/* End of Range */

/* Scrollbar */
::-webkit-scrollbar {
    width: 8px;
    border-radius: 8px;
    background-color: var(--scrollbar-background);
}

::-webkit-scrollbar-thumb {
    background: var(--scrollbar-thumb);
    border-radius: 8px;
}

::-webkit-scrollbar-thumb:hover {
    background: var(--scrollbar-thumb-hover);
}

::-webkit-scrollbar:horizontal {
    height: 8px;
    border-radius: 8px;
    background-color: var(--scrollbar-background);
}

::-webkit-scrollbar-thumb:horizontal {
    background: var(--scrollbar-thumb);
    border-radius: 8px;
}

::-webkit-scrollbar-thumb:horizontal:hover {
    background: var(--scrollbar-thumb-hover);
}

/* End of Scrollbar */

.btn-disabled {
    opacity: 0.5;
    cursor: default;
    pointer-events: none;
}

body {
    background-color: var(--primary-dark);
}

.form-outline .form-control:focus {
    ~ .form-notch .form-notch-leading {
        border-top: .125rem solid var(--primary);
        border-bottom: .125rem solid var(--primary);
        border-left: .125rem solid var(--primary);
    }

    ~ .form-notch .form-notch-trailing {
        border-top: .125rem solid var(--primary);
        border-right: .125rem solid var(--primary);
        border-bottom: .125rem solid var(--primary);
    }

    ~ .form-notch .form-notch-middle {
        border-top: 0;
        border-bottom: .125rem solid var(--primary);
    }
}

.form-outline .form-control {
    ~ .form-notch .form-notch-leading {
        border-color: var(--primary-dark-light);
    }

    ~ .form-notch .form-notch-trailing {
        border-color: var(--primary-dark-light);
    }

    ~ .form-notch .form-notch-middle {
        border-color: var(--primary-dark-light);
    }
}

.form-outline .form-control:focus ~ .form-label {
    color: var(--primary);
}

.form-select {
    color: var(--def-text);
    background-color: transparent;
    border: 2px solid var(--primary-dark-light);
    border-radius: 0.5rem;
    background-image: url('../images/chevron-down.svg');
    background-size: 20px 20px;
}

.form-select:focus {
    border-color: var(--primary);
    box-shadow: inset 0 0 0 1px var(--primary);
    background-image: url('../images/chevron-up.svg');
}

select option {
    display: flex;
    background-color: var(--context-menu);
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    color: var(--def-text);
    font-size: 80%;
    font-weight: 500;
    border-radius: 2px;
}

select option:checked {
    background-color: var(--blurple-dark);
    color: var(--white);
}

.input-row {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: flex-start;
}