#btnTitle {
    font-size: calc(var(--nav-height) - 11px);
    line-height: calc(var(--nav-height) - 11px);
    font-weight: 700;
    color: var(--text-primary);
    margin-left: 10px;
    user-select: none;
}

#mainContainer {
    margin-top: calc(var(--nav-height) + var(--nav-margin));
    padding-left: var(--window-margins);
    padding-right: var(--window-margins);
    height: calc(100vh - var(--nav-height) - var(--nav-margin));
}

.btn {
    height: 22px;
    font-size: 14px;
    line-height: 14px;
}

.btn .material-symbols-rounded {
    font-size: 14px;
    line-height: 14px;
}

.input-row {
    justify-content: space-between;
}

.input-row .col-form-label {
    white-space: nowrap;
    margin-right: 4px;
}

.input-row .btn {
    margin-left: 4px;
}

.input-row .form-control[type="number"] {
    max-width: 80px;
}

#fileInputGroup {
    padding-bottom: 10px;
    border-bottom: 2px solid var(--background-secondary);
}

#buttonSettings {
    padding-top: 10px;
}

#timeContainer {
    padding-bottom: 10px;
    border-bottom: 2px solid var(--background-secondary);
}

.form-color {
    border: none;
    padding: 0;
    margin: 0;
    border-radius: 50%;
}

#buttons {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: flex-end;
    position: absolute;
    bottom: var(--window-margins);
    right: var(--window-margins);
}

#buttons > :first-child {
    margin-right: 8px;
}

#styleContainer {
    padding-top: 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

#styleInputs {
    width: 58vw;
    padding: 8px;
}

.input-block {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.reset {
    color: var(--text-primary);
    cursor: pointer;
    margin-left: 4px;
    font-size: 16px;
}

.reset:hover {
    color: var(--text-primary-hover);
}

#stylePreview {
    width: 42vw;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px;
    background-color: var(--background-secondary);
    border-radius: 4px;
}

.sb-btn {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    background-color: var(--background-primary);
    color: var(--text-primary);
    font-weight: 400;
    cursor: pointer;
    user-select: none;
    overflow: hidden;
    transition: all 100ms ease-in-out;
    border: 1px solid transparent;
    border-radius: 4px;
    padding: 4px;
}

.sb-btn:not(.dropping):hover {
    background-color: var(--background-primary-hover);
    color: var(--text-primary-hover);
}

.sb-btn.dropping {
    filter: brightness(150%);
}

.sb-btn-img {
    min-width: 35px;
    min-height: 35px;
    width: 35px;
    height: 35px;
    aspect-ratio: 1;
    border-radius: 5px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin-left: 5px;
    margin-right: 8px;
}

.sb-btn span {
    text-overflow: ellipsis;
    white-space: normal;
    max-width: 100%;
    margin-right: 5px;
    font-size: 13px;
    line-height: 13px;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}