:root {
    --player-height: 130px;
}

#audio {
    display: none;
}

#navProfileContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    cursor: pointer;
    -webkit-app-region: no-drag;
}

#navProfileContainer:hover {
    color: var(--text-primary-hover);
}

#activeProfile {
    font-size: calc(var(--nav-height) - 11px);
    line-height: calc(var(--nav-height) - 11px);
    font-weight: 700;
    color: var(--text-primary);
    margin-left: 10px;
    user-select: none;
}

#navProfileContainer .material-symbols-rounded {
    font-size: calc(var(--nav-height) - 11px);
    line-height: calc(var(--nav-height) - 11px);
    margin-top: 1px;
}

.profiles-ctx-menu .active {
    background-color: var(--blurple);
}

#soundboard {
    display: grid;
    grid-template-columns: auto auto auto;
    height: calc(100vh - var(--nav-height) - var(--player-height));
    padding: 4px;
}

.sb-btn {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    background-color: var(--background-primary);
    color: var(--text-primary);
    font-weight: 400;
    cursor: pointer;
    user-select: none;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    transition: all 100ms ease-in-out;
    border: 1px solid transparent;
    border-radius: 4px;
}

.sb-btn:not(.dropping):hover {
    background-color: var(--background-primary-hover);
    color: var(--text-primary-hover);
}

.sb-btn.dropping {
    filter: brightness(150%);
}

.sb-btn-img {
    min-width: 35px;
    min-height: 35px;
    width: 35px;
    height: 35px;
    aspect-ratio: 1;
    border-radius: 5px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin-left: 5px;
    margin-right: 8px;
}

.sb-btn span {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;
    max-width: 100%;
    margin-right: 5px;
    font-size: 13px;
    line-height: 13px;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

#player {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    height: var(--player-height);
    z-index: 10;
    position: relative;
}

#playerControls {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#trackInfo {
    display: none;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    justify-self: flex-start;
    margin-right: auto;
    max-width: 400px;
}

#rightControls {
    display: flex;
    justify-self: flex-end;
    align-items: center;
    margin-left: auto;
}

#thumbnail {
    width: 80px;
    min-width: 80px;
    height: 80px;
    margin: 0 10px;
    border-radius: 8px;
    background-image: url('../images/track.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    user-select: none;
}

#track {
    height: 80px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

#trackName {
    font-size: 14px;
    line-height: 14px;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;
}

#trackSrc {
    margin-top: 4px;
    font-size: 9px;
    line-height: 9px;
    color: var(--text-secondary);
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;
}

#controlButtons {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.control-btn {
    margin-left: 8px;
    margin-right: 8px;
    line-height: 0;
}

.control-btn:hover .material-symbols-rounded {
    color: var(--text-primary-hover);
}

.control-btn .material-symbols-rounded {
    color: var(--text-primary);
    font-size: 24px;
}

.control-btn.off .material-symbols-rounded {
    color: var(--text-disabled);
}

.control-btn.off:hover .material-symbols-rounded {
    color: var(--text-primary-hover);
}

.control-btn.disabled {
    cursor: default;
}

.control-btn.disabled .material-symbols-rounded {
    color: var(--text-disabled);
}

#repeat .material-symbols-rounded {
    color: var(--text-primary-hover);
}

#repeat.off .material-symbols-rounded {
    color: var(--text-secondary);
}

#playPause .material-symbols-rounded {
    font-size: 40px;
}

#progressBarGroup {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 15px;
    height: 15px;
}

#progressBar {
    min-width: 500px;
    height: 6px;
    transition: width 500ms ease-in-out;
}

.progress-number {
    display: none;
    font-size: 10px;
    color: var(--text-secondary);
    user-select: none;
}

#currentTime {
    margin-right: 15px;
}

#duration {
    margin-left: 15px;
}

#volumeSlider {
    width: 150px;
    height: 6px;
    transition: width 500ms ease-in-out;
}

.media-output-ctx-menu .active {
    background-color: var(--blurple);
}

#createProfile {
    position: absolute;
    bottom: 12px;
    right: 12px;
}

#playlistMenu {
    position: absolute;
    padding: 4px;
    background-color: var(--background-tertiary);
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    z-index: 100;
}

@media screen and (max-width: 1225px) {
    #progressBar {
        min-width: 450px;
    }

    #volumeSlider {
        width: 100px;
    }
}