#btnTitle {
    font-size: calc(var(--nav-height) - 11px);
    line-height: calc(var(--nav-height) - 11px);
    font-weight: 700;
    color: var(--text-primary);
    margin-left: 10px;
    user-select: none;
}

#mainContainer {
    margin-top: calc(var(--nav-height) + var(--nav-margin));
    padding-left: var(--window-margins);
    padding-right: var(--window-margins);
    height: calc(100vh - var(--nav-height) - var(--nav-margin));
}

.btn {
    height: 22px;
    font-size: 14px;
    line-height: 14px;
}

.btn .material-symbols-rounded {
    font-size: 14px;
    line-height: 14px;
}

.input-row {
    justify-content: space-between;
}

.input-row label {
    white-space: nowrap;
    margin-right: 4px;
}

.input-row .btn {
    margin-left: 4px;
}

#fileInputGroup {
    padding-bottom: 20px;
    border-bottom: 2px solid var(--background-secondary);
}

#searchContainer {
    margin-top: 20px;
}

#results {
    background-color: var(--background-tertiary);
    border-radius: 8px;
    overflow-y: auto;
}

#resultsPlaceholder {
    color: var(--text-secondary);
    margin: 4px;
    font-size: 13px;
    line-height: 13px;
}

#buttons {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: flex-end;
    position: absolute;
    bottom: var(--window-margins);
    right: var(--window-margins);
}

#buttons > :first-child {
    margin-right: 8px;
}

.result {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
    padding: 5px;
    border-radius: 5px;
    transition: background-color 200ms ease-in-out;
}

.result:hover {
    background-color: var(--blurple);
    cursor: pointer;
}

.result.active {
    background-color: var(--blurple);
}

.result .thumbnail {
    min-width: 60px;
    width: 60px;
    height: 60px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 10px;
}

.result .title-block {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin-left: 10px;
}

.result .title {
    font-size: 14px;
    line-height: 14px;
    font-weight: 500;
    margin: 0 0 8px 0;
}

.result .url {
    font-size: 11px;
    line-height: 11px;
    font-weight: 400;
    color: var(--text-secondary);
    margin: 0;
}

.result .url:hover {
    color: var(--text-secondary-hover);
    text-decoration: underline;
}

.result .duration {
    font-size: 13px;
    line-height: 13px;
    font-weight: 400;
    color: var(--text-secondary);
    align-self: center;
    margin-left: auto;
    margin-right: 10px;
    margin-bottom: 0;
    padding-left: 15px;
}

.result:hover .duration {
    color: var(--text-secondary-hover);
}

.result .preview {
    color: var(--text-primary);
    font-size: 15px;
    cursor: pointer;
}

.result .preview:hover {
    color: var(--text-primary-hover);
}